.miDivision{
    border: #B6B6B6 8px outset;
    background-color: #E7E7E7;
    width: 250px;
    height: 260px;
    margin: 0 auto;
    border-radius: 4px;
}
.inputText{
    width: 180px;
    height: 25px;
    margin: 15px 30px;
    border-radius: 6px;
    border: 1px;
}
.miBoton{
    color: #D7B7FF;
    background: transparent;
    border: 2px solid #D7B7FF;
    border-radius: 6px;
    border: none;
      color: white;
      padding: 15px 35px;
      text-align: center;
      display: inline-block;
      font-size: 10px;
      margin: 7px 7px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
.miBoton1{
      background-color: white; 
      color: black; 
      border: 2px solid #D7B7FF;
}
.miBoton:hover{
    background-color: #D7B7FF;
    color: white;
}

#resultado{
    font-size: 50px;
    font-family: Arial;
    width: 50px;
    margin:0 auto;
}